extends ../layout

block content

    h1.page-header Register
    form(method='POST' action='/users/register')
        div.form-group
            label(for='username') Username
            input.form-control(type='text' id='username' placeholder='username' name='username' required)
        div.form-group
            label(for='email') Email
            input.form-control(type='text' id='email' placeholder='email' name='email')
        div.form-group
            label(for='truffleAccount') Email
            input.form-control(type='number' id='truffleAccount' placeholder='truffleAccount' name='truffleAccount' min="0" max="9")
        div.form-group
            label(for='password') Password
            input.form-control(type='password' id='password' placeholder='password' name='password' required)
        button.btn.btn-primary(type='submit') Register
