extends ../layout

block content

    h1.page-header Log In
    form(method='POST' action='/api/auth/signin')
        div.form-group
            label(for='username') Email
            input.form-control(type='text' id='username' placeholder='username' name='username')
        div.form-group
            label(for='password') Password
            input.form-control(type='password' id='password' placeholder='password' name='password')
        button.btn.btn-primary(type='submit') Log in
